:root {
    --primary-color: #EEF9DB;
    --secondary-color: #011B0D;
    --contrast-color: #FBFFE0;

    --text-color: #011B0D;

    --header-color: #011B0D;

    --button-label-color: #FBFFE0;

    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(95%) saturate(430%) hue-rotate(96deg) brightness(96%) contrast(100%);
    --socials-icon-color: brightness(0) saturate(100%) invert(7%) sepia(95%) saturate(430%) hue-rotate(96deg) brightness(96%) contrast(100%);

    /* Card colors are defined independently as they do not change with dark mode */
    --card-background: #EEF9DB;
    --card-text-color: #011B0D;

    /* Project-specific color schemes */
    --primary-color-æ: #B6D8FD;
    --secondary-color-æ: #002855;
    --contrast-color-æ: #D5E9FF;
    --text-color-æ: #002855;

    --primary-color-corwell: #FFB1B1;
    --secondary-color-corwell: #560000;
    --contrast-color-corwell: #FDDCDC;
    --text-color-corwell: #560000;

    --primary-color-skredder: #E0E1DD;
    --secondary-color-skredder: #0D1B2A;
    --contrast-color-skredder: #F9F7FF;
    --text-color-skredder: #0D1B2A;

    --primary-color-ourspace: #EAE4E4;
    --secondary-color-ourspace: #0A2463;
    --contrast-color-ourspace: #FDF9F9;
    --text-color-ourspace: #0A2463;

    --primary-color-drømmeland: #65C2B4;
    --secondary-color-drømmeland: #1E3C43;
    --contrast-color-drømmeland: #D7F9FF;
    --text-color-drømmeland: #1E3C43;
}

[data-theme="dark"] {
    --primary-color: #011B0D;
    --secondary-color: #F9FF7E;

    --text-color: #FBFFE0;

    --header-color: #F9FF7E;

    --button-label-color: #011B0D;

    --icon-color: brightness(0) saturate(100%) invert(88%) sepia(10%) saturate(426%) hue-rotate(35deg) brightness(109%) contrast(105%);
    --socials-icon-color: brightness(0) saturate(100%) invert(83%) sepia(65%) saturate(342%) hue-rotate(17deg) brightness(111%) contrast(105%);

    --primary-color-æ: #002855;
    --secondary-color-æ: #509EF2;
    --text-color-æ: #D5E9FF;

    --primary-color-corwell: #560000;
    --secondary-color-corwell: #FF5F5F;
    --text-color-corwell: #FDDCDC;

    --primary-color-skredder: #0D1B2A;
    --secondary-color-skredder: #78AAE3;
    --text-color-skredder: #F9F7FF;

    --primary-color-ourspace: #0A2463;
    --secondary-color-ourspace: #65E152;
    --text-color-ourspace: #FDF9F9;

    --primary-color-drømmeland: #1E3C43;
    --secondary-color-drømmeland: #E687FC;
    --text-color-drømmeland: #D7F9FF;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Variable.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    /* transition: background-color 0.3s ease, color 0.3s ease; */
    font-family: "Satoshi";

    /* Giving the navbar some space */
    padding-top: 8.35rem;
}

.button-label {
    color: var(--button-label-color);
}

.icon {
    filter: var(--icon-color);
}

.socials-icon {
    filter: var(--socials-icon-color);
}

/* æ */
.æ-scheme {
    background-color: var(--primary-color-æ) !important;
    color: var(--secondary-color-æ) !important;
}

.æ-scheme p {
    color: var(--text-color-æ) !important;
}

.æ-scheme-text {
    color: var(--secondary-color-æ) !important;
}

/* corwell */
.corwell-scheme {
    background-color: var(--primary-color-corwell) !important;
    color: var(--secondary-color-corwell) !important;
}

.corwell-scheme p {
    color: var(--text-color-corwell) !important;
}

.corwell-scheme-text {
    color: var(--secondary-color-corwell) !important;
}

/* skredder */
.skredder-scheme {
    background-color: var(--primary-color-skredder) !important;
    color: var(--secondary-color-skredder) !important;
}

.skredder-scheme p {
    color: var(--text-color-skredder) !important;
}

.skredder-scheme-text {
    color: var(--secondary-color-skredder) !important;
}

/* ourspace */
.ourspace-scheme {
    background-color: var(--primary-color-ourspace) !important;
    color: var(--secondary-color-ourspace) !important;
}

.ourspace-scheme p {
    color: var(--text-color-ourspace) !important;
}

.ourspace-scheme-text {
    color: var(--secondary-color-ourspace) !important;
}

/* drømmeland */
.drømmeland-scheme {
    background-color: var(--primary-color-drømmeland) !important;
    color: var(--secondary-color-drømmeland) !important;
}

.drømmeland-scheme p {
    color: var(--text-color-drømmeland) !important;
}

.drømmeland-scheme-text {
    color: var(--secondary-color-drømmeland) !important;
}

/* This gives elements margin from the sides of the screen */
.gutter {
    padding: 0 1.6rem;
}

.top-margin {
    margin-top: 3rem;
}

/* Removing default link styling */
a:-webkit-any-link {
    text-decoration: none;
    color: var(--text-color);
}

.no-link {
    text-decoration: none;
    color: var(--text-color);
}

.container {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* Desktop */
@media only screen and (min-width: 1050px) {
    .gutter {
        padding: 0 calc(2rem + 10vw);
    }

    .top-margin {
        margin-top: 6rem;
    }
}