:root {
    --primary-color: #EEF9DB;
    --secondary-color: #011B0D;
    --contrast-color: #FBFFE0;

    --text-color: #011B0D;

    /* Card colors are defined independently as they do not change with dark mode */
    --card-background: #EEF9DB;
    --card-text-color: #011B0D;

    /* Project-specific color schemes */
    --primary-color-æ: #B6D8FD;
    --secondary-color-æ: #002855;
    --contrast-color-æ: #D5E9FF;

    --primary-color-corwell: #FFB1B1;
    --secondary-color-corwell: #560000;
    --contrast-color-corwell: #FDDCDC;

    --primary-color-skredder: #E0E1DD;
    --secondary-color-skredder: #0D1B2A;
    --contrast-color-skredder: #F9F7FF;

    --primary-color-ourspace: #EAE4E4;
    --secondary-color-ourspace: #0A2463;
    --contrast-color-ourspace: #FDF9F9;

    --primary-color-drømmeland: #65C2B4;
    --secondary-color-drømmeland: #1E3C43;
    --contrast-color-drømmeland: #D7F9FF;
}

[data-theme="dark"] {
    --primary-color: #011B0D;
    --secondary-color: #F9FF7E;

    --text-color: #FBFFE0;

    --primary-color-æ: #002855;
    --secondary-color-æ: #509EF2;

    --primary-color-corwell: #560000;
    --secondary-color-corwell: #FF5F5F;

    --primary-color-skredder: #0D1B2A;
    --secondary-color-skredder: #78AAE3;

    --primary-color-ourspace: #0A2463;
    --secondary-color-ourspace: #65E152;

    --primary-color-drømmeland: #1E3C43;
    --secondary-color-drømmeland: #E687FC;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Variable.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Satoshi";
}

.æ-scheme {
    background-color: var(--primary-color-æ) !important;
    color: var(--secondary-color-æ) !important;
}

/* .æ-scheme p {
    color: var(--contrast-color-æ) !important;
} */

.æ-scheme-text {
    color: var(--secondary-color-æ) !important;
}

/* This gives elements margin from the sides of the screen */
.gutter {
    padding: 0 1rem;
}

/* Removing default link styling */
a:-webkit-any-link {
    text-decoration: none;
    color: var(--text-color);
}

.no-link {
    text-decoration: none;
    color: var(--text-color);
}

.container {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* Desktop */
@media only screen and (min-width: 1050px) {
    .gutter {
        padding: 0 calc(2rem + 10vw);
    }
}