.project-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
}

/* Desktop */
@media only screen and (min-width: 800px) {
    .project-section {
        gap: 8rem;
    }
}