.cover-image-container {
    position: relative;
    border-radius: .938rem;
}

.cover-image {
    width: 100%;
    object-fit: cover;
    object-position: 0 -30px;
}

.cover-image-back-icon {
    height: 1rem;
    width: 1rem;
}

.cover-image-back-container {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: var(--primary-color);
    border-bottom-right-radius: .938rem;
    padding: 0.6rem 1rem;

    display: flex;
    gap: .625rem;
    align-items: center;
    margin-right: 0.2rem;
}


/* Desktop */
@media only screen and (min-width: 550px) {
    .cover-image {
        object-position: 0 -250px;
    }

    .cover-image-container {
        margin-bottom: -100px;
    }
}