.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
}

.gallery-image-container {
    margin: 0 1rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    max-width: 450px;
}

.gallery-image-container p {
    align-self: flex-start;
    /* max-width: 65%; */
}

.gallery-text {
    margin-top: 0.75rem;
}

.gallery-image {
    flex-grow: 1;
    max-width: 100%;
    border-radius: .938rem;
}

.combined-image-text {
    margin: -2rem 1rem 0 1rem;
    grid-area: 2 / 1 / 2 / 3;
    max-width: 450px;
    align-self: center;
}

@media only screen and (min-width: 1000px) {
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.625rem;
    }

    .gallery-image {
        max-height: 500px;
    }

    .combined-image-text {
        max-width: unset;
        align-self: unset;
    }

    /* Align last image to the right when there's an odd number of images */
    .gallery-container>.gallery-image-container:nth-child(odd):last-child {
        grid-column: 2;
    }
}