.paragraph-with-image-container {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
}

.paragraph-with-image-image {
    /* width: 100%; */
    max-height: 350px;
    margin: 0 1rem;
}