.button-container {
    display: flex;
    justify-content: flex-end;
}

.button {
    all: unset;
    padding: 1.25rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--contrast-color);
    font-weight: 700;
    min-width: 8rem;
    text-align: center;
}