.button-container {
    display: flex;
    justify-content: flex-end;
    background-color: var(--contrast-color);
    padding: 1rem;
}

.button-container:hover {
    filter: brightness(0.9);
}


.button-label {
    font-weight: bold;
    color: var(--button-text-color)
}

.arrow-back {
    transform: rotate(-180deg)
}

.button {
    all: unset;
}

.button:hover {
    /* text-decoration: underline; */
    /* text-underline-offset: 0.25rem; */
}